<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

   <title>Ecommerce Technologies</title>

    <!-- Fav Icon -->

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/css/font-awesome-all.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">
    <link href="/css/owl.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/imagebg.css" rel="stylesheet">
    <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link href="/css/switcher-style.css" rel="stylesheet">
    <link href="/css/rtl.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->

<body class="boxed_wrapper ltr">

    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->

    <!-- page-direction -->
    <div class="page_direction">
        <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
        <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
    </div>
    <!-- page-direction end -->


    <!-- switcher menu -->
    <div class="switcher">
        <div class="switch_btn">
            <button><i class="fas fa-palette"></i></button>
        </div>
        <div class="switch_menu">
            <!-- color changer -->
            <div class="switcher_container">
                <ul id="styleOptions" title="switch styling">
                    <li>
                        <a href="javascript: void(0)" data-theme="blue" class="blue-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="pink" class="pink-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="violet" class="violet-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="crimson" class="crimson-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="orange" class="orange-color"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end switcher menu -->
    <!-- main header -->
    <header class="main-header">
        <div class="outer-container">
            <div class="header-upper clearfix">
                <div class="outer-box pull-left">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a href="/">
                                <img src="" style="zoom: 1.5;" alt="">
                            </a></figure>
                    </div>
                    <div class="menu-area pull-left">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="/">Home</a>
                                        <!-- <ul>
                                            <li><a href="/">Home Page One</a></li>
                                            <li><a href="index-2.html">Home Page Two</a></li>
                                            <li><a href="index-3.html">Home Page Three</a></li>
                                            <li><a href="index-boxed.html">Home Boxed</a></li>
                                            <li><a href="index-onepage.html">Home OnePage</a></li>
                                            <li class="dropdown"><a href="/">Home Page</a>
                                                <ul>
                                                    <li><a href="/">Home Page One</a></li>
                                                    <li><a href="index-2.html">Home Page Two</a></li>
                                                    <li><a href="index-3.html">Home Page Three</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    
                                    <li class="dropdown"><a href="/service">Services</a>
                            
                                    </li>
                                
                                    <li class="current dropdown"><a href="/blog-grid">Blog</a>
                  
                                    </li>
                                    <li class=""><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content pull-right">
                    <div class="phone">Call Us <a href="tel:+916263682856">+91 62636 82856</a></div>
                    <div class="btn-box"><a href="/">Get In Touch</a></div>
                </div>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="/"><img src="/images/livinart.png" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main-header end -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="/images/logo-2.png" alt="" title=""></a></div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Chicago 12, Melborne City, USA</li>
                    <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="blog-details.ejs"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="blog-details.ejs"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="blog-details.ejs"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="blog-details.ejs"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="blog-details.ejs"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->


    <!--Page Title-->
    <section class="page-title bg-color-1 text-center">
        <div class="pattern-layer" style="background-image: url(/images/shape/pattern-18.png);"></div>
        <div class="auto-container">
            <div class="content-box">
                <h1>All Blog</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>All Blog</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- blog-details -->
    <section class="sidebar-page-container blog-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="blog-details-content">
                        <div class="news-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box"><img src="/images/news/rankweb.png" alt=""></figure>
                                    <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                        <p>Dec 28</p>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <div class="upper-box">
                                        <ul class="post-info">
                                            <li><span>by</span>&nbsp;<a href="/blog-details.ejs">Rishi</a></li>
                                            <li><a href="/blog-details.ejs">3 Comments</a></li>
                                        </ul>
                                        <h3>Five Ways to Improve your Site's Ranking (SEO)
                                        </h3>
                                        <div class="text">
                                            <p>
                                                Follow these suggestions to improve your search engine optimization
                                                (SEO) and watch your website rise the ranks to the top of search-engine
                                                results. <br>
                                                1. Publish Relevant Content <br>
                                                Quality content is the number one driver of your search engine rankings
                                                and there is no substitute for great content. Quality content created
                                                specifically for your intended user increases site traffic, which
                                                improves your site's authority and relevance. Fine-tune your web writing
                                                skills. <br><br>

                                                2. Keywords <br>
                                                Identify and target a specific keyword phrase for each page on your
                                                website. Think about how your reader might search for that specific page
                                                with search terms like: <br>

                                                masters in engineering management<br>

                                                what is biomedical engineering?<br>

                                                title IX resources<br>

                                                northern lights<br>

                                                how to apply for scholarships?<br>

                                                application deadline<br><br>
                                                <b>
                                                    Multiple Keyword Phrases
                                                </b> <br><br>

                                                It is very difficult for a webpage to achieve search engine rankings for
                                                multiple keyword phrases—unless those phrases are very similar. A single
                                                page may be able to rank for both "biomedical engineering jobs" and
                                                "biomedical engineering careers". Ranking for "student affairs" and
                                                "dean of students" or "gender discrimination" and "violence reporting
                                                procedures" with a single page is unlikely.<br><br>

                                                If you want to rank for multiple keywords phrases with your website, you
                                                will need to make a separate webpage for each keyword phrase you are
                                                targeting.<br><br>

                                                Placing Keywords <br><br>

                                                Once your keyword phrase is chosen for a given page, consider these
                                                questions:<br><br>

                                                Can I use part or all of the keyword phrase in the page URL (by using
                                                keywords in folders)?<br><br>

                                                Can I use part or all of the keyword phrase in the page title?<br><br>

                                                Can I use part or all of the keyword phrase in page headings and sub
                                                headings?<br><br>

                                                Answering yes to these questions can improve your search engine ranking.
                                                Be natural and user-friendly, though. For instance, you do not want the
                                                word "engineering" to show up three or more times in the URL or have the
                                                phrase Northern Lights repeated in the page title and every heading.
                                                Readability and usability still trump search engine optimization.<br><br>


                                                Beyond page URL, title, and headings, content is most influential on
                                                search engine rankings. Repeat your keyword phrase several times
                                                throughout the page—once or twice in the opening and closing paragraphs,
                                                and two to four more times throughout the remaining content.<br><br>

                                                Don't forget to use bold, italics, heading tags (especially an H1), and
                                                other emphasis tags to highlight these keyword phrases—but don't overdo
                                                it. You still want your language and writing style to read naturally.
                                                Never sacrifice good writing for SEO. The best pages are written for the
                                                user, not for the search engine.<br><br>

                                                2. Update Your Content Regularly<br>
                                                You've probably noticed that we feel pretty strongly about content.
                                                Search engines do, too. Regularly updated content is viewed as one of
                                                the best indicators of a site's relevancy, so be sure to keep it fresh.
                                                Audit your content on a set schedule (semesterly for example) and make
                                                updates as needed.<br><br><br>



                                                3. Metadata<br>
                                                When designing your website, each page contains a space between the

                                                head tags to insert metadata, or information about the contents of
                                                your page. If you have a CMS site originally produced by the UMC web
                                                team will have pre-populated this data for you. However, it is
                                                important for you to review and update Metadata as your site changes
                                                over time.<br><br>

                                                Title Metadata<br>
                                                Title metadata is responsible for the page titles displayed at the
                                                top of a browser window and as the headline within search engine
                                                results. It is the most important metadata on your page.<br><br>

                                                For those with a CMS website, the web team has developed an
                                                automated system for creating the meta title for each webpage based
                                                on your page title. This adds to the importance of using
                                                well-thought-out page titles rich with keyword phrases.<br><br>

                                                Description Metadata<br>
                                                Description metadata is the textual description that a browser may
                                                use in your page search return. Think of it as your site's window
                                                display—a concise and appealing description of what is contained
                                                within, with the goal of encouraging people to enter. A good meta
                                                description will typically contain two full sentences. Search
                                                engines may not always use your meta description, but it is
                                                important to give them the option.<br><br>



                                                Keyword Metadata<br>
                                                Keyword metadata is rarely if ever used to tabulate search engine
                                                rankings. However, you should already know your keyword phrases, so
                                                it doesn't hurt to add them into your keyword metadata. You'll want
                                                to include a variety of phrases. As a general rule, try to keep it
                                                to about 3-7 phrases with each phrase consisting of 1-4 words. A
                                                great example would be "computer science degree."<br><br>

                                                You Can Easily Reduce Most Images By Up To 70% Yet Optimising
                                                Graphics 1 By 1 Sucks<br>



                                                4. Have a link-worthy site<br>
                                                Focus on creating relevant links within the text. Instead of having
                                                "click here" links, try writing out the name of the destination.
                                                "Click here" has no search engine value beyond the attached URL,
                                                whereas “Michigan Tech Enterprise Program” is rich with keywords and
                                                will improve your search engine rankings as well as the ranking of
                                                the page you are linking to. Always use descriptive links by linking
                                                keywords—it not only improves search engine optimization, but also
                                                adds value to your readers, including those with disabilities or who
                                                are using screen readers.<br><br>

                                                5. Use alt tags<br><br>
                                                Always describe your visual and video media using alt tags, or
                                                alternative text descriptions. They allow search engines to locate
                                                your page, which is crucial—especially for those who use text-only
                                                browsers or screen readers.<br>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="post-share-option">
                                        <ul class="tags-list clearfix">
                                            <li>
                                                <h5>Tags:</h5>
                                            </li>
                                            <li><a href="/blog-details.ejs">Design</a>,</li>
                                            <li><a href="/blog-details.ejs">Development</a></li>
                                        </ul>
                                        <ul class="social-links clearfix">
                                            <li>
                                                <h5>Share:</h5>
                                            </li>
                                            <li><a href="/blog-details.ejs"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="/blog-details.ejs"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="/blog-details.ejs"><i class="fab fa-vimeo-v"></i></a></li>
                                            <li><a href="/blog-details.ejs"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments-area">
                            <div class="group-title">
                                <h3>Comments</h3>
                            </div>
                            <div class="comment-box">
                                    <div class="comment">
                                        <figure class="thumb-box">
                                            <img src="/images/resource/comment-1.png" alt="">
                                        </figure>
                                        <div class="comment-inner">
                                            <div class="clearfix">
                                                <div class="comment-info pull-left">
                                                    <h5></h5>
                                                    <span class="comment-time"></span>
                                                </div>
                                                <div class="replay-btn pull-right">
                                                    <!-- <a href="#">Reply</a> -->
                                                </div>
                                            </div>
                                            <div class="text"></e.comment></div>
                                        </div>
                                    </div>

                                <!-- <div class="comment replay-comment">
                                    <figure class="thumb-box">
                                        <img src="/images/resource/comment-3.png" alt="">
                                    </figure>
                                    <div class="comment-inner">
                                        <div class="clearfix">
                                            <div class="comment-info pull-left">
                                                <h5>Laura D Rivas</h5>
                                                <span class="comment-time">15 january 2019 At 10:30 pm</span>
                                            </div>
                                            <div class="replay-btn pull-right">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="text">Ne erat velit invidunt his. Eum in dicta veniam interesset,
                                            harum fuisset te nam ea cu lupta definitionem.</div>
                                    </div>
                                </div> -->
                                <%comments.forEach((e)=>{%>
                                    <div class="comment">
                                        <figure class="thumb-box">
                                            <img src="/images/resource/comment-2.png" alt="">
                                        </figure>
                                        <div class="comment-inner">
                                            <div class="clearfix">
                                                <div class="comment-info pull-left">
                                                    <h5><%=e.name%></h5>
                                                    <span class="comment-time"><%=e.email%></span>
                                                </div>
                                                <div class="replay-btn pull-right">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                            <div class="text"><%=e.comment%></div>
                                        </div>
                                    </div>
                                    <%})%>
                            </div>
                        </div>
                        <div class="comments-form-area">
                            <div class="group-title">
                                <h3>Leave a Comment</h3>
                            </div>
                            <form action="/blogs/comments" method="POST" class="comment-form default-form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="name" placeholder="Your Name*" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Your Email*" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="comment" placeholder="Your Comment here..."></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                        <button type="submit" class="theme-btn style-one">Post Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="sidebar">
                        <div class="sidebar-widget sidebar-search">
                            <div class="widget-title">
                                <h3>Search</h3>
                            </div>
                            <div class="widget-content">
                                <form action="/blog-grid.ejs" method="post">
                                    <div class="form-group">
                                        <input type="search" name="search-field" placeholder="Search" required="">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget sidebar-testimonial">
                            <div class="sidebar-testimonial-carousel owl-carousel owl-theme owl-nav-none">
                                <div class="testimonial-content">
                                    <p>Lorem ipsum dolor sit amet con sectetur adipicing elit sed do smod tempor
                                        incididunt enim minim veniam.</p>
                                    <div class="author-info">
                                        <h4>Nicolas Lawson</h4>
                                        <span class="designation">Designer</span>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Lorem ipsum dolor sit amet con sectetur adipicing elit sed do smod tempor
                                        incididunt enim minim veniam.</p>
                                    <div class="author-info">
                                        <h4>Nicolas Lawson</h4>
                                        <span class="designation">Designer</span>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Lorem ipsum dolor sit amet con sectetur adipicing elit sed do smod tempor
                                        incididunt enim minim veniam.</p>
                                    <div class="author-info">
                                        <h4>Nicolas Lawson</h4>
                                        <span class="designation">Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget sidebar-categories">
                            <div class="widget-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="clearfix">
                                    <li><a href="/blog-grid.ejs">Education<span>(32)</span></a></li>
                                    <li><a href="/blog-grid.ejs">Olympiad<span>(7)</span></a></li>
                                    <li><a href="/blog-grid.ejs">Drawing<span>(5)</span></a></li>
                                    <li><a href="/blog-grid.ejs">Science<span>(2)</span></a></li>
                                    <li><a href="/blog-grid.ejs">Science<span>(8)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="sidebar-widget sidebar-post">
                            <div class="widget-title">
                                <h3>Latest News</h3>
                            </div>
                            <div class="post-inner">
                                <div class="post">
                                    <figure class="image-box"><a href="/blog-details.ejs"><img
                                                src="/images/news/post-1.png" alt=""></a></figure>
                                    <div class="post-date"><i class="far fa-calendar-alt"></i>&nbsp;<p>Dec 25, 2019</p>
                                    </div>
                                    <h5><a href="/blog-details.ejs">Conse quntur magni eos dolore qui.</a></h5>
                                </div>
                                <div class="post">
                                    <figure class="image-box"><a href="/blog-details.ejs"><img
                                                src="/images/news/post-2.png" alt=""></a></figure>
                                    <div class="post-date"><i class="far fa-calendar-alt"></i>&nbsp;<p>Dec 24, 2019</p>
                                    </div>
                                    <h5><a href="/blog-details.ejs">What to do with your Old Blog Posts?</a></h5>
                                </div>
                                <div class="post">
                                    <figure class="image-box"><a href="/blog-details.ejs"><img
                                                src="/images/news/post-3.png" alt=""></a></figure>
                                    <div class="post-date"><i class="far fa-calendar-alt"></i>&nbsp;<p>Dec 23, 2019</p>
                                    </div>
                                    <h5><a href="/blog-details.ejs">Ten Instagram the Marketing Tips...</a></h5>
                                </div>
                            </div>
                        </div> -->
                        <div class="sidebar-widget sidebar-tags">
                            <div class="widget-title">
                                <h3>Popular Tags</h3>
                                <div class="widget-content">
                                    <ul class="clearfix">
                                        <li><a href="/blog-grid.ejs">Software</a></li>
                                        <li><a href="/blog-grid.ejs">Design</a></li>
                                        <li><a href="/blog-grid.ejs">Saas</a></li>
                                        <li><a href="/blog-grid.ejs">Code</a></li>
                                        <li><a href="/blog-grid.ejs">Landing Page</a></li>
                                        <li><a href="/blog-grid.ejs">Web</a></li>
                                        <li><a href="/blog-grid.ejs">Detox</a></li>
                                        <li><a href="/blog-grid.ejs">Corporate</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details end -->


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-box">
            <div class="pattern-1" style="background-image: url(/images/shape/pattern-7.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-8.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>Get Ready to Started It’s Fast, Free & Very Easy</h2>
                <a href="/blog-details.ejs" class="theme-btn style-three">Learn More</a>
            </div>
        </div>
    </section>
    <!-- cta-sectione end -->


    <!-- main-footer -->



    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src=""
                                            style="zoom: 1.5;" alt=""></a></figure>
                                <div class="text">
                                    <p>Driving digital success through innovative solutions, AI-powered technology, and exceptional service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li> 9/16, near Kwality Sweets, Laxmi Nagar, Piplani, BHEL, Bhopal, Madhya Pradesh 462022 </li>
                                        <li><a href="tel:23055873407">+91-6263682856 </a></li>
                                        <li><a href="mailto:info@example.com">contact@livinarttech.in</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="https://www.facebook.com/profile.php?id=100063919997639"><i class="fab fa-facebook-f"></i></a></li>
                                    <!-- <li><a href="/"><i class="fab fa-"></i></a></li> -->
                                    <li><a href="https://www.instagram.com/livinart.tech/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/livinart-technologies/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="/">Ecommerce Technologies</a> &copy;  2023 All Rights Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->



    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>


    <!-- jequery plugins -->
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/scrollbar.js"></script>
    <script src="/js/tilt.jquery.js"></script>
    <script src="/js/jQuery.style.switcher.min.js"></script>

    <!-- main-js -->
    <script src="/js/script.js"></script>

</body><!-- End of .page_wrapper -->

</html>