<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Ecommer Technoligies</title>

<!-- Fav Icon -->

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/validform.css">
    <title>Document</title>
</head>
<body>
    
    <div id="main">
        <div class="Form-front-conatainer">
            <div class="front-top">
                <h1>Get In Touch With Livinart Technologies Now.</h1>
                <div class="concern-div">
                    <h3>Select Concern From Below</h3>
                    <!-- <i class="ri-arrow-down-s-fill"></i> -->
                </div>
                <div id="dropdown">
                    <select id="list" name="concern" class="concern-div" required>
                        <option value="">Select Concern</option>
                        <option value="General Inquiry">General Inquiry</option>
                        <option value="Technical Support">Technical Support</option>
                        <option value="Billing Issue">Billing Issue</option>
                        <!-- Add more options if needed -->
                      </select>
                </div>
            </div>
            <div class="front-bottom">
                <div class="meeting-schedule">
                    <div class="schedule-img"> <svg width="149" height="148" viewBox="0 0 149 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M134.1 24.05C134.1 10.7675 123.259 0 109.887 0H24.2125C10.8403 0 0 10.7675 0 24.05V109.15C0 122.432 10.8403 133.2 24.2125 133.2H67.2124C65.0035 129.772 63.2192 126.048 61.9356 122.1H24.2125C17.0121 122.1 11.175 116.302 11.175 109.15V40.7H122.925V61.5199C126.9 62.7949 130.649 64.5672 134.1 66.7613V24.05ZM24.2125 11.1H109.887C117.088 11.1 122.925 16.8979 122.925 24.05V29.6H11.175V24.05C11.175 16.8979 17.0121 11.1 24.2125 11.1ZM149 107.3C149 84.8218 130.655 66.6 108.025 66.6C85.3949 66.6 67.05 84.8218 67.05 107.3C67.05 129.778 85.3949 148 108.025 148C130.655 148 149 129.778 149 107.3ZM108.025 107.3H122.925C124.982 107.3 126.65 108.957 126.65 111C126.65 113.044 124.982 114.7 122.925 114.7H104.3C102.265 114.7 100.611 113.079 100.576 111.066L100.575 110.999V88.7993C100.575 86.7561 102.243 85.0993 104.3 85.0993C106.357 85.0993 108.025 86.7561 108.025 88.7993V107.3Z" fill="#5667CB"/>
                        </svg>
                        </div>
                        <div class="buttonsection">
                            <a href="/meeting-form">
                                <button>Schedule meeting </button>
                            </a>
                        </div>
                </div>
                <div class="meeting-schedule">
                    <div class="schedule-img"><svg width="113" height="131" viewBox="0 0 113 131" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M83.9213 84.2285C82.3612 81.4037 81.8428 78.1003 82.4828 74.916H14.8193C7.10846 74.916 0.857605 81.1672 0.857605 88.878V92.4645C0.857605 98.0073 2.83502 103.368 6.43443 107.583C16.1585 118.97 30.9717 124.59 50.5025 124.59C52.9175 124.59 55.2612 124.504 57.5316 124.332C56.4581 121.338 56.4265 118.033 57.4837 114.996C55.2531 115.183 52.9262 115.278 50.5025 115.278C33.5019 115.278 21.2971 110.647 13.5161 101.536C11.3566 99.0062 10.1701 95.7903 10.1701 92.4645V88.878C10.1701 86.3102 12.2516 84.2285 14.8193 84.2285H83.9213ZM50.5025 0.445465C67.6462 0.445465 81.5441 14.3433 81.5441 31.4871C81.5441 48.6309 67.6462 62.5286 50.5025 62.5286C33.3584 62.5286 19.4606 48.6309 19.4606 31.4871C19.4606 14.3433 33.3584 0.445465 50.5025 0.445465ZM50.5025 9.75797C38.5018 9.75797 28.7731 19.4864 28.7731 31.4871C28.7731 43.4878 38.5018 53.216 50.5025 53.216C62.5032 53.216 72.2316 43.4878 72.2316 31.4871C72.2316 19.4864 62.5032 9.75797 50.5025 9.75797ZM88.9445 74.885L91.8965 67.4064C93.4021 63.5914 97.6126 61.611 101.508 62.8862L104.185 63.7615C108.681 65.2329 112.413 68.7661 112.565 73.5005C113.181 92.8147 97.196 120.576 80.2013 129.718C76.0218 131.966 71.0856 130.479 67.5636 127.289L65.4733 125.395C62.4392 122.647 62.0543 118.013 64.5942 114.806L69.5602 108.534C71.3619 106.259 74.3201 105.241 77.1393 105.925L85.1561 107.87C92.0046 103.338 95.6749 96.9668 96.1666 88.7563L90.4786 82.7714C88.4764 80.6656 87.8779 77.5869 88.9445 74.885Z" fill="#5667CB"/>
                        </svg>
                        </div>
                        <div class="buttonsection">
                            <a href="/main-form">
                                <button> Request a call back </button>
                            </a>
                        </div> 
                </div>
            </div>
        </div>
    </div>



    <script src="/js/form-validation.js"></script>


<!-- 
    <script>
        

        const concern = document.querySelector('.concern-div')
        const drpwon = document.getElementById('dropdown')
        
        
        
        var flag = 0;
        concern.addEventListener('click',()=>{
            if(flag === 0){
                drpwon.style.display = 'initial'
                flag  = 1;
            }

            else{
                drpwon.style.display = 'none'
                flag  = 0;
            }
        })

    function getSelectValue() {
    var selectValue = document.getElementById('list').value;
    console.log(selectValue)

}



    </script> -->





</body>
</html>