<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Livinart Technologies</title>

<!-- Fav Icon -->
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/css/font-awesome-all.css" rel="stylesheet">
<link href="/css/flaticon.css" rel="stylesheet">
<link href="/css/owl.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/imagebg.css" rel="stylesheet">
<link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
<link href="/css/switcher-style.css" rel="stylesheet">
<link href="/css/rtl.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<style>
    #map {
        height: 450px;
        width: 600px;
    }
</style>

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->



    <!-- main header -->
     <!-- main header -->


    <header class="main-header">
        <div class="outer-container">
            <div class="header-upper clearfix">
                <div class="outer-box pull-left">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a href="/">
                                <img src="/images/logo.svg" style="zoom: 1.5;" alt="">
                            </a></figure>
                    </div>
                    <div class="menu-area pull-left">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="/">Home</a>
                                        <!-- <ul>
                                            <li><a href="/">Home Page One</a></li>
                                            <li><a href="index-2.html">Home Page Two</a></li>
                                            <li><a href="index-3.html">Home Page Three</a></li>
                                            <li><a href="index-boxed.html">Home Boxed</a></li>
                                            <li><a href="index-onepage.html">Home OnePage</a></li>
                                            <li class="dropdown"><a href="/">Home Page</a>
                                                <ul>
                                                    <li><a href="/">Home Page One</a></li>
                                                    <li><a href="index-2.html">Home Page Two</a></li>
                                                    <li><a href="index-3.html">Home Page Three</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/#about">About</a>
                                        <!-- <ul>
                                            <li><a href="service.html">Services One</a></li>
                                            <li><a href="service-2.html">Services Two</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/#services">Services</a>
                                        <!-- <ul class="megamenu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="service.html">Services One</a></li>
                                            <li><a href="team-element-2.html">Team Elements 02</a></li>
                                            <li><a href="feature-element-1.html">Feature Elements 01</a></li>
                                            <li><a href="portfolio.html">Portfolio Grid</a></li>
                                            <li><a href="service-2.html">Services Two</a></li>
                                            <li><a href="counter-element-1.html">Counter Elements 01</a></li>
                                            <li><a href="feature-element-2.html">Feature Elements 02</a></li>
                                            <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                            <li><a href="counter-element-2.html">Counter Elements 02</a></li>
                                            <li><a href="about-element-1.html">About Elements 01</a></li>
                                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="about-element-2.html">About Elements 02</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="service-element.html">Service Elements</a></li>
                                            <li><a href="process-element-1.html">Process Elements 01</a></li>
                                            <li><a href="faq.html">Faq's</a></li>
                                            <li><a href="blog-standard.html">Blog Standard</a></li>
                                            <li><a href="faq-element.html">Faq's Elements</a></li>
                                            <li><a href="process-element-2.html">Process Elements 02</a></li>
                                            <li><a href="pricing.html">Pricing Plan</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="choose-element.html">Choose Elements</a></li>
                                            <li><a href="team-element-1.html">Team Elements 01</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/#pricing">Pricing</a>
                                        <!-- <ul>
                                            <li class="dropdown"><a href="/">Feature Elements</a>
                                                <ul>
                                                    <li><a href="feature-element-1.html">Feature Elements 01</a></li>
                                                    <li><a href="feature-element-2.html">Feature Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">About Elements</a>
                                                <ul>
                                                    <li><a href="about-element-1.html">About Elements 01</a></li>
                                                    <li><a href="about-element-2.html">About Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Blog Elements</a>
                                                <ul>
                                                    <li><a href="blog-element-1.html">Blog Elements 01</a></li>
                                                    <li><a href="blog-element-2.html">Blog Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Process Elements</a>
                                                <ul>
                                                    <li><a href="process-element-1.html">Process Elements 01</a></li>
                                                    <li><a href="process-element-2.html">Process Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Counter Elements</a>
                                                <ul>
                                                    <li><a href="counter-element-1.html">Counter Elements 01</a></li>
                                                    <li><a href="counter-element-2.html">Counter Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Team Elements</a>
                                                <ul>
                                                    <li><a href="team-element-1.html">Team Elements 01</a></li>
                                                    <li><a href="team-element-2.html">Team Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="service-element.html">Service Elements</a></li>
                                            <li><a href="faq-element.html">Faq's Elements</a></li>
                                            <li><a href="choose-element.html">Choose Elements</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/#blog">Blog</a>
                                        <!-- <ul>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="blog-standard.html">Blog Standard</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="current "><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content pull-right">
                    <div class="phone">Call Us <a href="tel:+916263682856">+91 62636 82856</a></div>
                    <div class="btn-box"><a href="/">Login</a></div>
                </div>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="/"><img src="/images/livinart.png" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main-header end -->
    <!-- main-header end -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="/images/logo-2.png" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Chicago 12, Melborne City, USA</li>
                    <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="/contact"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="/contact"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="/contact"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="/contact"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="/contact"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->

    
    <!--Page Title-->
    <section class="page-title bg-color-1 text-center">
        <div class="pattern-layer" style="background-image: url(/images/shape/pattern-18.png);"></div>
        <div class="auto-container">
            <div class="content-box">
                <h1>Contact Us</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- google-map-section -->
    <section class="google-map-section">
        <div class="auto-container">
            <div class="map-column">
                <div class="google-map-area">
                    <div 
                        class="google-map" 
                        id="contact-google-map" 
                        data-map-lat="23.2497418" 
                        data-map-lng="-77.4712256" 
                        data-icon-path="/images/shape/map-marker.png"  
                        data-map-title="Brooklyn, New York, United Kingdom" 
                        data-map-zoom="12" 
                        data-markers='{ 
                            "marker-1": [23.2497418, -77.4712256, "<h4>Branch Office</h4><p>77/99 Bhopal</p>","/images/shape/map-marker.png"]
                        }'>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- google-map-section end -->


    <!-- contact-section -->
    <section class="contact-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 info-column">
                    <div class="info-box">
                        <div class="opening-time">
                            <h3>Opening Hours</h3>
                            <p>Daily: 9.30 AM–6.00 PM</p>
                            <!-- <p>Sunday & Holidays: Closed</p> -->
                        </div>
                        <div class="contact-info">
                            <h3>Contact Info</h3>
                            <ul class="clearfix">
                                <li>
                                    Leela Tower, Sonagiri Square, Bhopal, Madhya Pradesh, 462022</li>
                                <li><a href="mailto:livinarttech@gmail.com">mailto:livinarttech@gmail.com</a></li>
                                <li><a href="tel:+916263682856">+91 62636 82856</a></li>
                            </ul>
                        </div>
                        <div class="social-box">
                            <h3>Social Contact</h3>
                            <ul class="clearfix">
                                <li><a href="https://www.facebook.com/profile.php?id=100063919997639"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/livinart.tech/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/livinart-technologies/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                    <div class="form-inner">
                        <h3>Let’s Conversation<br />with Livinart</h3>
                        <form method="post" action="/inc/sendemail.php" id="contact-form" class="default-form"> 
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="username" placeholder="First name *" required="">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="email" name="email" placeholder="Your mail *" required="">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="phone" placeholder="Your Phone *" required="">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="subject" placeholder="Subject *" required="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea name="message" placeholder="Message..."></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                    <button class="theme-btn style-one" type="submit" name="submit-form">Send now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-box">
            <div class="pattern-1" style="background-image: url(/images/shape/pattern-7.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-8.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>Get Ready to Started It’s Fast, Free & Very Easy</h2>
                <a href="/contact" class="theme-btn style-three">Learn More</a>
            </div>
        </div>
    </section>
    <!-- cta-sectione end -->


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src="/images/logo.svg"
                                            style="zoom: 1.5;" alt=""></a></figure>
                                <div class="text">
                                    <p>Driving digital success through innovative solutions, AI-powered technology, and exceptional service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li> 9/16, near Kwality Sweets, Laxmi Nagar, Piplani, BHEL, Bhopal, Madhya Pradesh 462022 </li>
                                        <li><a href="tel:23055873407">+91-6263682856 </a></li>
                                        <li><a href="mailto:info@example.com">contact@livinarttech.in</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="https://www.facebook.com/profile.php?id=100063919997639"><i class="fab fa-facebook-f"></i></a></li>
                                    <!-- <li><a href="/"><i class="fab fa-"></i></a></li> -->
                                    <li><a href="https://www.instagram.com/livinart.tech/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/livinart-technologies/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="/">Livinart Technologies</a> &copy;  2023 All Rights Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->


<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>


<!-- jequery plugins -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/scrollbar.js"></script>
<script src="/js/tilt.jquery.js"></script>
<script src="/js/jQuery.style.switcher.min.js"></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/map-helper.js"></script>

<!-- main-js -->
<script src="/js/script.js"></script>



            <script>
                        function initMap() {
            // Create a new map instance
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 23.2497418, lng: 77.4712256}, // Set the initial center of the map
                zoom: 12 // Set the initial zoom level
            });

            // Create a marker with a custom icon
            var marker = new google.maps.Marker({
                position: {lat: 23.2497418, lng: 77.4712256},
                map: map,
                icon: '/path/to/custom-marker.png' // Specify the path to your custom marker icon
            });
        }
            </script>




</body><!-- End of .page_wrapper -->
</html>
