<html><head><meta charset="UTF-8"><title>Get a free proposal from Livinart Technologies now...</title>
    <link href="css/validation.css" rel="stylesheet" type="text/css"><script src="js/form-validation.js"></script>
    </head><body class="zf-backgroundBg"><!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <div class="zf-templateWidth"><form action='https://forms.zohopublic.in/livinarttech/form/LetsConnect1/formperma/PN31V-X_mDRd2ah2vfhvC9pfv5opmLMp2GHvgitJ4kg/htmlRecords/submit' name='form' method='POST' onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();' accept-charset='UTF-8' enctype='multipart/form-data' id='form'><input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
    <input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
    <input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
    <div class="zf-templateWrapper"><!---------template Header Starts Here---------->
    <ul class="zf-tempHeadBdr"><li class="zf-tempHeadContBdr"><h2 class="zf-frmTitle"><em>Get a free proposal from Livinart Technologies now...</em></h2>
    <p class="zf-frmDesc"></p>
    <div class="zf-clearBoth"></div></li></ul><!---------template Header Ends Here---------->
    <!---------template Container Starts Here---------->
    <div class="zf-subContWrap zf-topAlign"><ul>
    <!---------Name Starts Here----------> 
    <li class="zf-tempFrmWrapper zf-name zf-namemedium"><label class="zf-labelName"> 
    Name 
    </label>
    <div 
    class="zf-tempContDiv zf-twoType"  
    >
    <div
    class="zf-nameWrapper"  
    >
    <span> <input type="text" maxlength="255" name="Name_First" fieldType=7 placeholder=""/> <label>First Name</label>
     </span> 
     </span> </span>
    <span> <input type="text" maxlength="255" name="Name_Last" fieldType=7 placeholder=""/> <label>Last Name</label>
     </span> 
     </span> </span>
    <div class="zf-clearBoth"></div></div><p id="Name_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
    </div><div class="zf-clearBoth"></div></li><!---------Name Ends Here----------> 
    <!---------Email Starts Here---------->  
    <li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName"> 
    Email 
    <em class="zf-important">*</em>
    </label>
    <div class="zf-tempContDiv">
    <span> <input fieldType=9  type="text" maxlength="255" name="Email" checktype="c5" value="" placeholder="Personal&#x20;or&#x20;Professional&#x20;Email"/></span> <p id="Email_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
    </div><div class="zf-clearBoth"></div></li><!---------Email Ends Here---------->  
    <!---------Phone Starts Here----------> 
    <li  class="zf-tempFrmWrapper zf-small"><label class="zf-labelName"> 
    Phone Number 
    <em class="zf-important">*</em>
    </label>
    <div class="zf-tempContDiv zf-phonefld">
    <div
    class="zf-phwrapper"   
    >
    <span> <input type="text" compname="PhoneNumber_countrycodeval" name="PhoneNumber_countrycodeval" checktype="c7" maxlength="10" phoneFormat="1" isCountryCodeEnabled=true  id="international_PhoneNumber_countrycodeval" valType="code" placeholder="Your&#x20;Phone&#x20;Number"/>
    <label>Code</label> </span>
    <span> <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" maxlength="20" checktype="c7" value="" phoneFormat="1" isCountryCodeEnabled=true fieldType="11" id="international_PhoneNumber_countrycode" valType="number" phoneFormatType="1" placeholder="Your&#x20;Phone&#x20;Number" />
    <label>Number</label> </span>
    <div class="zf-clearBoth"></div></div><p id="PhoneNumber_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
    </div><div class="zf-clearBoth"></div></li><!---------Phone Ends Here----------> 
    <!---------Checkbox Starts Here---------->    
    <li class="zf-checkbox zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Select Services
    <em class="zf-important">*</em>
    </label>
    <div class="zf-tempContDiv">
    <div class="zf-overflow">
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_1" name="MultipleChoice" checktype="c1" value="Website&#x20;Building"/>
    <label for="MultipleChoice_1" class="zf-checkChoice">Website&#x20;Building</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_2" name="MultipleChoice" checktype="c1" value="Mobile&#x20;Application"/>
    <label for="MultipleChoice_2" class="zf-checkChoice">Mobile&#x20;Application</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_3" name="MultipleChoice" checktype="c1" value="Digital&#x20;Marketing&#x20;Services"/>
    <label for="MultipleChoice_3" class="zf-checkChoice">Digital&#x20;Marketing&#x20;Services</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_4" name="MultipleChoice" checktype="c1" value="Social&#x20;Media&#x20;Management"/>
    <label for="MultipleChoice_4" class="zf-checkChoice">Social&#x20;Media&#x20;Management</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_5" name="MultipleChoice" checktype="c1" value="Graphic&#x20;Designing&#x20;&amp;&#x20;Video&#x20;Editing"/>
    <label for="MultipleChoice_5" class="zf-checkChoice">Graphic&#x20;Designing&#x20;&amp;&#x20;Video&#x20;Editing</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_6" name="MultipleChoice" checktype="c1" value="CRM&#x20;&amp;&#x20;ERP&#x20;Building"/>
    <label for="MultipleChoice_6" class="zf-checkChoice">CRM&#x20;&amp;&#x20;ERP&#x20;Building</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_7" name="MultipleChoice" checktype="c1" value="Business&#x20;Automation"/>
    <label for="MultipleChoice_7" class="zf-checkChoice">Business&#x20;Automation</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_8" name="MultipleChoice" checktype="c1" value="Help&#x20;&amp;&#x20;Support"/>
    <label for="MultipleChoice_8" class="zf-checkChoice">Help&#x20;&amp;&#x20;Support</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_9" name="MultipleChoice" checktype="c1" value="Raise&#x20;a&#x20;Complaint"/>
    <label for="MultipleChoice_9" class="zf-checkChoice">Raise&#x20;a&#x20;Complaint</label> </span>
    <span class="zf-multiAttType"> 
    <input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_10" name="MultipleChoice" checktype="c1" value="Other"/>
    <label for="MultipleChoice_10" class="zf-checkChoice">Other</label> </span>
    <div class="zf-clearBoth"></div></div><p id="MultipleChoice_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
    <p class="zf-instruction">You can select multiple service areas.</p>
    </div><div class="zf-clearBoth"></div></li><!---------Checkbox Ends Here---------->    
    <!---------Multiple Choice Starts Here----------> 
    <li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Who are you?
    <em class="zf-important">*</em>
    </label>
    <div class="zf-tempContDiv zf-mSelect">
    <select name="Checkbox" checktype="c1" multiple="multiple" >
    <option value="I&#x20;am&#x20;a&#x20;company&#x20;&#x2f;&#x20;agency&#x20;owner">I&#x20;am&#x20;a&#x20;company&#x20;&#x2f;&#x20;agency&#x20;owner</option>
    <option value="I&#x20;am&#x20;a&#x20;freelancer">I&#x20;am&#x20;a&#x20;freelancer</option>
    <option value="I&#x20;am&#x20;company&#x20;&#x2f;&#x20;business&#x20;employee">I&#x20;am&#x20;company&#x20;&#x2f;&#x20;business&#x20;employee</option>
    <option value="I&#x20;am&#x20;a&#x20;student">I&#x20;am&#x20;a&#x20;student</option>
    <option value="I&#x20;am&#x20;a&#x20;working&#x20;professional">I&#x20;am&#x20;a&#x20;working&#x20;professional</option></select><p id="Checkbox_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
    <p class="zf-instruction">tell us about youself to connect better.</p>
    </div><div class="zf-clearBoth"></div></li><!---------Multiple Choice Ends Here----------> 
    <!---------Single Line Starts Here---------->
    <li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName"> 
    Enter Your Business Name 
    </label>
    <div class="zf-tempContDiv">
    <span> <input type="text" name="SingleLine" checktype="c1" value="" maxlength="255" fieldType=1 placeholder="&#x28;If&#x20;Any&#x29;"/></span> <p id="SingleLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
    <p class="zf-instruction">Enter Your Business/Company /Agency Name Here (If Any)</p>
    </div><div class="zf-clearBoth"></div></li><!---------Single Line Ends Here---------->
    </ul></div><!---------template Container Starts Here---------->
    <ul><li class="zf-fmFooter"><button class="zf-submitColor" >Submit</button></li></ul></div><!-- 'zf-templateWrapper' ends --></form></div><!-- 'zf-templateWidth' ends -->
    <script type="text/javascript">var zf_DateRegex = new RegExp("^(([0][1-9])|([1-2][0-9])|([3][0-1]))[-](Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)[-](?:(?:19|20)[0-9]{2})$");
    var zf_MandArray = [ "Email", "PhoneNumber_countrycode", "PhoneNumber_countrycodeVal", "MultipleChoice", "Checkbox"]; 
    var zf_FieldArray = [ "Name_First", "Name_Last", "Email", "PhoneNumber_countrycode", "PhoneNumber_countrycodeVal", "MultipleChoice", "Checkbox", "SingleLine"]; 
    var isSalesIQIntegrationEnabled = false;
    var salesIQFieldsArray = [];</script></body></html>