<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Livinart Technologies</title>

    <!-- Fav Icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/css/font-awesome-all.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">
    <link href="/css/owl.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/imagebg.css" rel="stylesheet">
    <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link href="/css/switcher-style.css" rel="stylesheet">
    <link href="/css/rtl.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <style>
        .testimonial-inner .image-column {
            display: none;
        }
    </style>
</head>


<!-- page wrapper -->

<body class="boxed_wrapper ltr">

    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->

    <!-- page-direction -->
    
    <!-- page-direction end -->


    <!-- switcher menu -->
    <!--<div class="switcher">-->
    <!--    <div class="switch_btn">-->
    <!--        <button><i class="fas fa-palette"></i></button>-->
    <!--    </div>-->
    <!--    <div class="switch_menu">-->
    <!--        <div class="switcher_container">-->
    <!--            <ul id="styleOptions" title="switch styling">-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="blue" class="blue-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="pink" class="pink-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="violet" class="violet-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="crimson" class="crimson-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="orange" class="orange-color"></a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!-- end switcher menu -->


    <!-- main header -->
    <header class="main-header">
        <div class="outer-container">
            <div class="header-upper clearfix">
                <div class="outer-box pull-left">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a href="/">
                                <img src="/images/logo.svg" style="zoom: 1.5;" alt="">
                            </a></figure>
                    </div>
                    <div class="menu-area pull-left">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="/">Home</a>
                                        <!-- <ul>
                                            <li><a href="/">Home Page One</a></li>
                                            <li><a href="index-2.html">Home Page Two</a></li>
                                            <li><a href="index-3.html">Home Page Three</a></li>
                                            <li><a href="index-boxed.html">Home Boxed</a></li>
                                            <li><a href="index-onepage.html">Home OnePage</a></li>
                                            <li class="dropdown"><a href="/">Home Page</a>
                                                <ul>
                                                    <li><a href="/">Home Page One</a></li>
                                                    <li><a href="index-2.html">Home Page Two</a></li>
                                                    <li><a href="index-3.html">Home Page Three</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/about">About</a>
                                        <!-- <ul>
                                            <li><a href="/service">Services One</a></li>
                                            <li><a href="service-2.html">Services Two</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/#project">Services</a>
                                        <!-- <ul class="megamenu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="/service">Services One</a></li>
                                            <li><a href="team-element-2.html">Team Elements 02</a></li>
                                            <li><a href="feature-element-1.html">Feature Elements 01</a></li>
                                            <li><a href="portfolio.html">Portfolio Grid</a></li>
                                            <li><a href="service-2.html">Services Two</a></li>
                                            <li><a href="counter-element-1.html">Counter Elements 01</a></li>
                                            <li><a href="feature-element-2.html">Feature Elements 02</a></li>
                                            <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                            <li><a href="counter-element-2.html">Counter Elements 02</a></li>
                                            <li><a href="about-element-1.html">About Elements 01</a></li>
                                            <li><a href="http://livinart.tech/contact.html">Portfolio Details</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="about-element-2.html">About Elements 02</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="service-element.html">Service Elements</a></li>
                                            <li><a href="process-element-1.html">Process Elements 01</a></li>
                                            <li><a href="faq.html">Faq's</a></li>
                                            <li><a href="blog-standard.html">Blog Standard</a></li>
                                            <li><a href="faq-element.html">Faq's Elements</a></li>
                                            <li><a href="process-element-2.html">Process Elements 02</a></li>
                                            <li><a href="pricing.html">Pricing Plan</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="choose-element.html">Choose Elements</a></li>
                                            <li><a href="team-element-1.html">Team Elements 01</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/#pricing">Pricing</a>
                                        <!-- <ul>
                                            <li class="dropdown"><a href="/">Feature Elements</a>
                                                <ul>
                                                    <li><a href="feature-element-1.html">Feature Elements 01</a></li>
                                                    <li><a href="feature-element-2.html">Feature Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">About Elements</a>
                                                <ul>
                                                    <li><a href="about-element-1.html">About Elements 01</a></li>
                                                    <li><a href="about-element-2.html">About Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Blog Elements</a>
                                                <ul>
                                                    <li><a href="blog-element-1.html">Blog Elements 01</a></li>
                                                    <li><a href="blog-element-2.html">Blog Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Process Elements</a>
                                                <ul>
                                                    <li><a href="process-element-1.html">Process Elements 01</a></li>
                                                    <li><a href="process-element-2.html">Process Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Counter Elements</a>
                                                <ul>
                                                    <li><a href="counter-element-1.html">Counter Elements 01</a></li>
                                                    <li><a href="counter-element-2.html">Counter Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="/">Team Elements</a>
                                                <ul>
                                                    <li><a href="team-element-1.html">Team Elements 01</a></li>
                                                    <li><a href="team-element-2.html">Team Elements 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="service-element.html">Service Elements</a></li>
                                            <li><a href="faq-element.html">Faq's Elements</a></li>
                                            <li><a href="choose-element.html">Choose Elements</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a href="/blog-grid.ejs">Blog</a>
                                        <!-- <ul>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="blog-standard.html">Blog Standard</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content pull-right">
                    <div class="phone">Call Us <a href="tel:+916263682856">+91 62636 82856</a></div>
                    <div class="btn-box"><a href="/contact-form.ejs">Get In Touch</a></div>
                </div>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box">
                    <a href="/"><img src="/Images/Livinart - Logo ( without BG ).png" alt="" class="loco-img" ></a>
                    <h3>Livinart</h3>
                </figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main-header end -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="/images/logo-2.png" alt="" title=""></a></div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Leela Tower, Sonagiri Square, Bhopal, Madhya Pradesh, 462022</li>
                    <li><a href="tel:+916263682856">+91 62636 82856</a></li>
                    <li><a href="mailto:livinarttech@gmail.com">livinarttech@gmail.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="/"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="/"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="/"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="/"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="/"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->


    <!-- banner-section -->
    <section class="banner-section">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-1.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-2.png);"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h1>Empowering Your Digital Success with  <span class="animation_text_word"></span> Solutions </h1>
                        <p>Unlock the full potential of your digital presence with our cutting-edge solutions, powered by AI, advanced technologies, and strategic branding expertise."</p>
                        <div class="btn-box">
                            <a href="/contact-form.ejs" class="theme-btn style-one">Get a Free Proposal &nbsp;
                                <i class="fas fa-arrow-right"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s"></a>
                              <a href="#"
                                class="lightbox-image video-btn" data-caption=""><i class="flaticon-play"></i>Let's
                                Interact</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image image-1"><img src="/images/banner/banner-1.png" alt=""></figure>
                        <figure class="image image-2 float-bob-y"><img src="/images/banner/banner-2.png" alt="">
                        </figure>
                        <figure class="image image-3 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms">
                            <img src="/images/banner/banner-5.png" alt="">
                        </figure>
                        <figure class="image image-4"><img src="/images/banner/banner-3.png" alt=""></figure>
                        <figure class="image image-5 rotate-me"><img src="/images/banner/banner-4.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- feature-section -->
    <section class="feature-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-tools-and-utensils"></i>
                            </div>
                            <h3><a href="/#pricing">Marketing Solution</a></h3>
                            <p>Elevate your brand with our tailored marketing solutions. From SEO to social media, 
                            we drive growth by reaching your target audience and enhancing your online visibility.</p>
                            <div class="btn-box"><a href="/#pricing" class="theme-btn style-two">Explore more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-checked"></i>
                            </div>
                            <h3><a href="/#pricing">IT Solution</a></h3>
                            <p>Unlock the power of technology with our custom IT solutions. Our team develops responsive websites, intuitive interfaces, and secure CRM applications for seamless operations.
                            </p>
                            <div class="btn-box"><a href="/#pricing" class="theme-btn style-two">Explore more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <h3><a href="/maintaince">AI-Powered Tools</a></h3>
                            <p>Embrace the future with our AI-powered tools. Gain advanced insights, automation, and personalization capabilities that drive efficiency and results for your business.</p>
                            <div class="btn-box"><a href="/maintaince" class="theme-btn style-two">Explore more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-section end -->


    <!-- about-section -->
    <section class="about-section" id="about">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_01">
                        <div class="image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><img src="/images/resource/illustration-2.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_01">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>This is what you need</p>
                                <h2>Tailored Solutions for Your Success</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>Experience the power of tailored solutions that are meticulously crafted to align with your unique business goals.
                                     At Livinart Technologies, we leverage cutting-edge technology and industry expertise to drive growth and help you 
                                     stay ahead of the competition. From dynamic web development to AI-powered tools and strategic digital marketing,
                                     we provide the comprehensive solutions and strategies you need to thrive in the digital landscape.
                                </p>
                            </div>
                            <ul class="list-item clearfix wow slideInUp" data-wow-delay="600ms"
                                data-wow-duration="1500ms">
                                <li>Customized solutions aligned with your unique business goals.</li>
                                <li>Cutting-edge technology to drive growth and stay competitive.</li>
                                <li>Services include dynamic web development, AI-powered tools, <br> and strategic digital marketing.</li>
                            </ul>
                            <div class="btn-box wow slideInUp" data-wow-delay="900ms" data-wow-duration="1500ms"><a
                                    href="/maintaince" class="theme-btn style-one">Let's Connect</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


    <!-- process-section -->
    <section class="process-section bg-color-1">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-3.png)"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_02">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>AI/ML - Livinart Technologies</p>
                                <h2>Glance On Upcoming AI Tool?</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>Get a sneak peek into our upcoming AI tool, revolutionizing digital marketing with powerful capabilities and enhanced efficiency.</p>
                            </div>
                            <div class="inner-box wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="single-item">
                                    <div class="count-box">1</div>
                                    <h3><a href="/">Revolutionary AI-Powered Dashboard</a></h3>
                                    <div class="text">Gain unprecedented control and efficiency with our intuitive AI-powered dashboard, empowering digital marketing agencies to effortlessly manage and optimize client campaigns for exceptional results.
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">2</div>
                                    <h3><a href="/">Client-Side AI Dashboard Integration</a></h3>
                                    <div class="text">Seamlessly connect with your customers through our AI-enabled client-side dashboard, enabling streamlined communication, project tracking, payment management, and AI-driven services for enhanced collaboration and satisfaction.
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">3</div>
                                    <h3><a href="/">Transformative AI Services and Progress Tracking</a></h3>
                                    <div class="text"> Leverage our AI services to augment your team's capabilities, reduce manual effort, and unlock actionable insights. Track project progress with an integrated AI-powered calendar scheduler, ensuring timely delivery and success.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_02">
                        <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><img src="/images/resource/illustration-3.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process-section end -->


    <!-- service-section -->
    <section class="service-section" id="services">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p> Iconic features </p>
                <h2>Unleashing the Power:<br /> Under the Hood of Our Future SaaS</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-file"></i></div>
                            <h3><a href="/service"> Intelligent AI-Powered Insights</a></h3>
                            <p> Leverage advanced AI algorithms to gain actionable insights, optimize marketing strategies, and drive data-informed decision-making for maximum results.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-machine-learning"></i></div>
                            <h3><a href="/service">Seamless Customer Dashboard Integration</a></h3>
                            <p> Integrate a user-friendly customer dashboard, empowering digital marketing agencies to connect, collaborate, and deliver exceptional customer experiences effortlessly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-data-integration"></i></div>
                            <h3><a href="/service">Automated Project Progress Tracking</a></h3>
                            <p>
                                Streamline project management with automated progress tracking, ensuring transparency, accountability, and timely delivery through intuitive visualization and reporting.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-data-analytics"></i></div>
                            <h3><a href="/service">AI-Driven Customer Service Solutions
                            </a></h3>
                            <p>Enhance customer satisfaction with AI-powered support tools, including chatbots, automated responses, and personalized recommendations for efficient and effective communication.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-laptop"></i></div>
                            <h3><a href="/service">Secure Payment Management System</a></h3>
                            <p>Implement a secure payment management system, enabling seamless transactions, automated invoicing, and synchronized payment schedules for enhanced convenience and reliability.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-robot"></i></div>
                            <h3><a href="/service">Advanced Calendar Scheduler with AI Assistance </a></h3>
                            <p>Optimize scheduling and task management with an AI-assisted calendar scheduler, intelligently organizing appointments, reminders, and deadlines to boost productivity and efficiency.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- testimonial-section -->
    <section class="testimonial-section">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-4.png)"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-2.png)"></div>
        </div>
        <div class="auto-container">
            <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>
                                                Livinart Technologies delivered a visually appealing and responsive website. Impressed with their web development expertise.
                                            </h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Rohit Kapoor </h3>
                                            <span class="designation">
                                                <i class="flaticon-star-sign"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>The CRM application developed by Livinart Technologies streamlined our business processes, improving efficiency and customer satisfaction.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Neha Patel </h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Livinart Technologies' digital marketing solutions helped us reach our target audience effectively, boosting our online presence.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Arjun Sharma</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>The IT solutions offered by Livinart Technologies enhanced our technology infrastructure, ensuring seamless operations and security.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Kartik Mehta</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>The IT solutions offered by Livinart Technologies enhanced our technology infrastructure, ensuring seamless operations and security.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Kartik Mehta</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Livinart Technologies' expertise in digital marketing helped us optimize our campaigns, resulting in increased conversions and ROI.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Priya Verma</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>


                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Livinart Technologies developed a custom CRM application tailored to our business needs, enabling us to better manage our customer relationships.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Ravi Kumar</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Their web solutions transformed our online presence, delivering a modern and engaging website that aligns with our brand.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Sneha Sharma</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Livinart Technologies' IT solutions improved our productivity and efficiency by automating key processes and integrating systems.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Manish Singh</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg"
                                            alt=""></figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Livinart Technologies provided exceptional digital marketing services, leveraging targeted strategies to drive traffic and generate leads.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Pooja Mehta</h3>
                                            <span class="designation">
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                <i class="ri-star-s-fill"></i>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-section end -->


    <!-- project-section -->
    <section class="project-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Services</p>
                <h2>This Is What we Serve<br />In livinart.</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/gallery/web.png" alt="">
                                </figure>
                                <a href="/images/gallery/web.png" class="lightbox-image view-btn"
                                    data-fancybox="gallery">
                                    <button id="btn-box" >Enquire now</button>    
                                </a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="/contact">Website Development</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow " data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/gallery/app.png" alt="">
                                </figure>
                                <a href="/contact" class="lightbox-image view-btn">
                                    <div class="btn-box">
                                        <button>Enquire now</button>    
                                    </div>
                                </a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="http://livinart.tech/contact.html">Mobile App Development</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div href="/blogs"  id="block-3" class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/gallery/crm.png" alt="">
                                </figure>
                                <a href="/images/gallery/crm.png" class="lightbox-image view-btn"
                                    data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="http://livinart.tech/contact.html">CRM & ERP Development</a></h3>
                                <span>UX Designer</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="overlay"><a href="/portfolio.ejs">Read more</a> </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/gallery/seo.png" alt="">
                                </figure>
                                <a href="/images/gallery/seo.png" class="lightbox-image view-btn"
                                    data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="http://livinart.tech/contact.html">SEO</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/gallery/ecommerce.png" alt="">
                                </figure>
                                <a href="/images/gallery/ecommerce.png" class="lightbox-image view-btn"
                                    data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="http://livinart.tech/contact.html">Social Media Management</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/gallery/uiux.png" alt="">
                                </figure>
                                <a href="/images/gallery/uiux.png" class="lightbox-image view-btn"
                                    data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="http://livinart.tech/contact.html">Animation</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- project-section end -->


    <!-- clients-section -->
    <section class="clients-section bg-color-1">
        <div class="auto-container">
            <div class="clients-carousel-1 owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-1.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-2.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-3.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-4.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-5.png"
                            alt=""></a></figure>
            </div>
            <div class="clients-carousel-2 owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-6.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-7.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-8.png"
                            alt=""></a></figure>
                <figure class="clients-logo"><a href="/"><img src="/images/clients/logo-9.png"
                            alt=""></a></figure>
            </div>
        </div>
    </section>
    <!-- clients-section end -->


    <!-- pricing-section -->
    <section class="pricing-section" id="pricing">
        <div class="pattern-layer wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms"
            style="background-image: url(/images/shape/pattern-6.png)"></div>
        <div class="auto-container">
            <div class="sec-title">
                <p>Peicing table</p>
                <h2>Affordable Plans</h2>
            </div>
            <div class="tabs-box">
                <div class="upper-box clearfix">
                    <div class="text pull-left">
                        <p>Here are some of the best offerings for startup branding </p>
                    </div>
                    <div class="tab-btn-box pull-right">
                        <ul class="tab-btns tab-buttons clearfix">
                            <li class="tab-btn active-btn" data-tab="#tab-1">Tech</li>
                            <li class="tab-btn" data-tab="#tab-2">Marketing</li>
                        </ul>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="tab active-tab" id="tab-1">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box"
                                            style="background-image: url(/images/shape/pattern-5.png);"></div>
                                        <div class="table-header">
                                            <h5>Static Website Development</h5>
                                            <a href="">Starting From</a> <br>
                                            <h2 style="display: inline;">₹6,499 </h2><sup class="offer-batch">80%
                                                Off *T&C Applied</sup>
                                            <a href="/">Get free Hosting & SSL certificate</a>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li><i class="flaticon-verified"></i>Get a access to code</li>
                                                <li><i class="flaticon-verified"></i>Google map's intigration</li>
                                                <li><i class="flaticon-verified"></i>Free logo</li>
                                                <li><i class="flaticon-verified"></i>Listing on google analytics</li>
                                                <li><i class="flaticon-verified"></i>Listing on google search console</li>
                                                <li><i class="flaticon-verified"></i>3 blog post</li>
                                                <li><i class="flaticon-verified"></i>Free content writing</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="/" class="theme-btn style-two">Consult now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one active_block">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box"
                                            style="background-image: url(/images/shape/pattern-5.png);"></div>
                                        <div class="table-header">
                                            <h5>Mobile App Development</h5>
                                            <a href="">Starting From</a> <br>
                                            <h2 style="display: inline;"> ₹19,999 </h2><sup class="offer-batch">30% Off *T&C Applied</sup>
                                            <!-- <a href="">  Starting from</a> <h2> ₹19,999</h2> -->
                                            <a href="/">Get free UI/UX Design *T&C Applied</a>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li><i class="flaticon-verified"></i>Hybrid application <br> (Android + IOS)</li>
                                                <li><i class="flaticon-verified"></i>Custom API intigration</li>
                                                <li><i class="flaticon-verified"></i>Free social media management for 2 months</li>
                                                <li><i class="flaticon-verified"></i>Free logo, Get access to code & Free 1 year maintenance</li>
                                                <li><i class="flaticon-verified"></i>Get free technical consultation & Pre-project report</li>
                                                <li><i class="flaticon-verified"></i>Free content writing</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="/" class="theme-btn style-two">Consult now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box"
                                            style="background-image: url(/images/shape/pattern-5.png);"></div>
                                        <div class="table-header">
                                            <h5>CRM/ERP & Custom Software  </h5>
                                            <a href="">Starting From</a> <br>
                                            <h2 style="display: inline;"> ₹9999 </h2><sup class="offer-batch">25% Off *T&C Applied</sup>
                                            <!-- <h2>₹9999</h2> -->
                                            <a href="/">Get free traning support *T&C Applied</a>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li><i class="flaticon-verified"></i>Free intigration</li>
                                                <li><i class="flaticon-verified"></i>One year free technical support</li>
                                                <li><i class="flaticon-verified"></i>Free UI/UX design</li>
                                                <li><i class="flaticon-verified"></i>Free deployment & Hosting</li>
                                                <li><i class="flaticon-verified"></i>Pre-project report, SEO</li>
                                                <li><i class="flaticon-verified"></i>Free social media management for 3 months</li>
                                                <li><i class="flaticon-verified"></i>Free content writing</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="/" class="theme-btn style-two">Consult now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab-2">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box"
                                            style="background-image: url(/images/shape/pattern-5.png);"></div>
                                        <div class="table-header">
                                            <h5>Basic Plan</h5>
                                            <h2>$50.00</h2>
                                            <a href="/">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="/" class="theme-btn style-two">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one active_block">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box"
                                            style="background-image: url(/images/shape/pattern-5.png);"></div>
                                        <div class="table-header">
                                            <h5>Standard Plan</h5>
                                            <h2>$70.00</h2>
                                            <a href="/">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="/" class="theme-btn style-two">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box"
                                            style="background-image: url(/images/shape/pattern-5.png);"></div>
                                        <div class="table-header">
                                            <h5>Premium Plan</h5>
                                            <h2>$90.00</h2>
                                            <a href="/">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="/" class="theme-btn style-two">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->


    <!-- news-section -->
    <section class="news-section" id="blog">
        <div class="pattern-layer wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms"
            style="background-image: url(/images/shape/pattern-2.png)"></div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Recent Article</p>
                <h2>Stay Update with Livinart</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><img src="/images/news/rankweb.png" alt=""></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                    <p>Dec 23</p>
                                </div>
                                <div class="link"><a href="/b1"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="/b1">Nicolas</a></li>
                                    <li><a href="/b1">3 Comments</a></li>
                                </ul>
                                <h3><a href="/b1">How to rank your website on google's first page!</a>
                                </h3>
                                <p>
                                    Follow these suggestions to improve your search engine optimization (SEO) and watch
                                    your website rise the ranks to the top of search-engine <a href="/b1">Read
                                        more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><img src="/images/news/hackathon.png" alt=""></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                    <p>Dec 22</p>
                                </div>
                                <div class="link"><a href="/b2"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="/b2">Hinter</a></li>
                                    <li><a href="/b2">5 Comments</a></li>
                                </ul>
                                <h3><a href="/b2">What is "Hackathon" !</a></h3>
                                <p>You have already heard the term hackathon if you have some basic programming
                                    knowledge if not, then you are at the right place here you will know all about <a
                                        href="/b2">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <!-- <div class="news-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><img src="/images/news/trade.png" alt=""></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                    <p>Dec 21</p>
                                </div>
                                <div class="link"><a href="./b3.html"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="./b3.html">Tailor</a></li>
                                    <li><a href="./b3.html">4 Comments</a></li>
                                </ul>
                                <h3><a href="./b3.html">How To Trade Like Pro</a></h3>
                                <p>
                                    Stock trading requires funding a brokerage account — a specific type of account
                                    designed to hold investments. If you don't already have an account, you can open one
                                    <a href="./b3.html">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="overlay"> <a href="/blog-grid.ejs">Read more</a> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section end -->


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-box">
            <div class="pattern-1" style="background-image: url(/images/shape/pattern-7.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-8.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>Let's Schedule An Appointment With Our Experts</h2>
                <a href="/" class="theme-btn style-three">Schedule Now</a>
            </div>
        </div>
    </section>
    <!-- cta-sectione end -->


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src="/images/logo.svg"
                                            style="zoom: 1.5;" alt=""></a></figure>
                                <div class="text">
                                    <p>Driving digital success through innovative solutions, AI-powered technology, and exceptional service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li> 9/16, near Kwality Sweets, Laxmi Nagar, Piplani, BHEL, Bhopal, Madhya Pradesh 462022 </li>
                                        <li><a href="tel:23055873407">+91-6263682856 </a></li>
                                        <li><a href="mailto:info@example.com">contact@livinarttech.in</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="https://www.facebook.com/profile.php?id=100063919997639"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/livinart.tech/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/livinart-technologies/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="/">Livinart Technologies</a> &copy;  2023 All Rights Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->



    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>


    <!-- jequery plugins -->
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/scrollbar.js"></script>
    <script src="/js/tilt.jquery.js"></script>
    <script src="/js/jQuery.style.switcher.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/text_animation.js"></script>

    <!-- main-js -->
    <script src="/js/script.js"></script>
    <script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siq366d9d36e08c8bb063ee8b0f655c32b49752904b7a8216a169da516eb39d0e63ca763a856e25ad45fcf7aeeebae78c7d", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>

</body><!-- End of .page_wrapper -->

</html>