<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/validform.css">
    <title>Document</title>
</head>
<body>
    <form action="/verifyOtp" method="POST">
        <input type="text" name="number" placeholder="Phone Number" required>
        <input type="text" id="verificationcode"  name="code" placeholder="Verification Code" required>
        <button type="submit" id="verifier">Verify OTP</button>
      </form>

      
</body>
</html>