<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Ecommerce Technologies</title>

<!-- Fav Icon -->

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/css/font-awesome-all.css" rel="stylesheet">
<link href="/css/flaticon.css" rel="stylesheet">
<link href="/css/owl.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/imagebg.css" rel="stylesheet">
<link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
<link href="/css/switcher-style.css" rel="stylesheet">
<link href="/css/rtl.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->

    <!-- page-direction -->
    <div class="page_direction">
        <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
        <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
    </div>
    <!-- page-direction end -->


    <!-- switcher menu -->
    <div class="switcher">
        <div class="switch_btn">
            <button><i class="fas fa-palette"></i></button>
        </div>
        <div class="switch_menu">
            <!-- color changer -->
            <div class="switcher_container">
                <ul id="styleOptions" title="switch styling">
                    <li>
                        <a href="javascript: void(0)" data-theme="blue" class="blue-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="pink" class="pink-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="violet" class="violet-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="crimson" class="crimson-color"></a>
                    </li>
                    <li>
                        <a href="javascript: void(0)" data-theme="orange" class="orange-color"></a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
    <!-- end switcher menu -->

    <!-- main header -->
    <header class="main-header">
        <div class="outer-container">
            <div class="header-upper clearfix">
                <div class="outer-box pull-left">
                    <div class="logo-box pull-left">
                        <figure class="logo"><a href="/"><img src="" alt="" class="loco" ></a></figure>
                    </div>
                    <div class="menu-area pull-left">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="/">Home</a></li> 
                                    <li class="" style="background-color: #6377EE;" ><a href="/service" style="color: #fff !important;" >Services</a></li>
                                    <li class="dropdown"><a href="/blog-grid">Blog</a></li>                              
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content pull-right">
                    <div class="phone">Call Us <a href="tel:880762009">+880.762.009</a></div>
                    <div class="btn-box"><a href="/service">Get in Touch</a></div>
                </div>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="/"><img src="" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main-header end -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="/images/logo-2.png" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <ul>
                    <li>Chicago 12, Melborne City, USA</li>
                    <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="/service"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="/service"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="/service"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="/service"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="/service"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->

    
    <!--Page Title-->
    <section class="page-title bg-color-1 text-center">
        <div class="pattern-layer" style="background-image: url(/images/shape/pattern-18.png);"></div>
        <div class="auto-container">
            <div class="content-box">
                <h1>All Services</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>All Services</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- project-section -->
    <section class="portfolio-page-section Portfolio-grid">
        <div class="auto-container">
            <div class="sortable-masonry">
                <div class="filters">
                    <ul class="filter-tabs filter-btns centred clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">All</li>
                        <li class="filter" data-role="button" data-filter=".design">Designing</li>
                        <li class="filter" data-role="button" data-filter=".development">IT</li>
                        <li class="filter" data-role="button" data-filter=".photography">Marketing</li>
                        <li class="filter" data-role="button" data-filter=".product">Maintenance & other</li>
                    </ul>
                </div>
                <div class="items-container row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all photography design development">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://blog.placeit.net/wp-content/uploads/2022/05/Famous-Logos-and-What-You-Can-Learn-from-Them.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Logos and branded elements </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design product">
                    <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.shutterstock.com/shutterstock/photos/2143011321/display_1500/stock-vector-modern-banner-design-web-template-set-horizontal-header-web-banner-orange-cover-header-background-2143011321.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Banner designing</a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all photography development">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://cdn.dribbble.com/users/6046827/screenshots/17519445/youtube_thumbnail_dribbble_2.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">YouTube Thumbnail</a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://i.pinimg.com/originals/79/b0/ec/79b0ecd4a3641ca5e7de8af8c24ab4c7.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Social Media content designing </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all photography design development">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://learn.g2.com/hubfs/email%20marketing%20cover%20image.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form"></a>Email marketing graphics.</h3>
                                    <span>UX Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://designcontest.nyc3.digitaloceanspaces.com/data/contests/113770/entries/15ac7d3836a43b27.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>

                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Business cards, letterhead & envelopes.</a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://cdn.flatworldsolutions.com/featured-images/search-engine-optimization-services.jpg" alt="">
                                    </figure>

                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Search Engine Optimization Services
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.clariwell.in/resources/top-sem-company-best-digital-marketing-services-in-pune-india.webp" alt="">
                                    </figure>

                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Search Engine Marketing Services
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.waldenu.edu/media/5144/seo-1759-bs-brand-business-marketing-word-285045373-1200x675" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Branding Services

                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://img1.exportersindia.com/product_images/bc-full/2020/5/6270003/content-marketing-services-1590148151-5447163.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Content Marketing Services

                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://iotcommunication.com.vn/upload/21106/20190408/1934823-1000x1000.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Creative Services
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.localup.io/wp-content/uploads/Google_Ads-1.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Google Ads
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://blog.iffort.com/wp-content/uploads/2022/06/Facebook-ads-1.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Facebook Ads </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://buildfire.com/wp-content/uploads/2017/11/google-play-store-downloads-1200x900.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Get App Downloads
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://crm.paramountinfosystem.com/Upload/Static/637545127384423507.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Static Website Development
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.happywalagift.com/wp-content/uploads/2023/06/Pros-Cons-of-Static-Dynamic-Website.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Dynamic Website Development
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://sitegalleria.com/wp-content/uploads/2019/08/Web-Development-and-Web-Design-Company.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Web Development & Web Design Services
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.eresourceerp.com/wp-content/uploads/2023/05/Enterprise-Resource-Planning.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Enterprise Resource Planning(ERP) Development
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://multiqos.com/blogs/wp-content/uploads/2022/08/How-to-build-a-custom-CRM-Software-A-Complete-Guide.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Custom CRM Development
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.solutions.kompass.com/blog/media/international-crm-benefits.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">CRM Integration
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://riseuplabs.com/wp-content/uploads/2021/07/mobile-application-development-guidelines-riseuplabs.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Mobile App Development
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://ascendle.com/wp-content/uploads/whats-involved-in-building-software-1.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Software Building
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.factoreal.com/wp-content/uploads/2023/02/Chatbot.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Custom Bot Development
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://method-it.co.uk/hubfs/Imported_Blog_Media/cloud-based-services.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Cloud Services
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://gmaoen-11fe1.kxcdn.com/wp-content/uploads/etablir-un-plan-de-maintenance-preventive-efficace.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Maintenence and other 

                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://blog.gougousis.net/wp-content/uploads/2017/11/code-bug.jpg" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Website Debugging
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200409224837/7-Best-Sites-For-Free-Web-Hosting.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Website hosting
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://appinventiv.com/wp-content/uploads/sites/1/2017/09/How-App-Maintenance-a-Key-to-Your-Mobile-App%E2%80%99s-Success.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">App Maintence
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://template.inspiroxindia.in/sites/2020/1/IX20192020-00005/uploads/website-management-services.gif" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Website Management
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/189041662/original/0b0ac0bd123e0b2ab8c3bd0844d75873ac744fd2/test-your-website-or-android-app.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">App Debugging
                                    </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://www.cloudoye.com/images/blog/Fotolia_40957727_XS1.png" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">Cloud & Storage Services </a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all design photography product">
                        <div class="project-block-one">
                            <div class="inner-box">
                                <div class="image-holder">
                                    <figure class="image-box">
                                        <img src="https://cdn-media-1.freecodecamp.org/images/7MMP2ME4KmUnIbyTIGCKMZjK8fyz-6MlJFRx" alt="">
                                    </figure>
                                    <a href="/contact-form" class="view-btn">
                                        <div class="btn-box">
                                            <button>Enquire now</button>    
                                        </div>
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="/contact-form">UI/UX</a></h3>
                                    <span>Graphic designing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-weapper text-center">
                    <ul class="pagination clearfix">
                        <li><a href="/contact-form"><i class="fas fa-angle-left"></i></a></li>
                        <li><a href="/contact-form" class="active">1</a></li>
                        <li><a href="/contact-form">2</a></li>
                        <li><a href="/contact-form">3</a></li>
                        <li><a href="/contact-form">4</a></li>
                        <li><a href="/contact-form"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-box">
            <div class="pattern-1" style="background-image: url(/images/shape/pattern-7.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-8.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>Get Ready to Started It’s Fast, Free & Very Easy</h2>
                <a href="/service" class="theme-btn style-three">Learn More</a>
            </div>
        </div>
    </section>
    <!-- cta-sectione end -->


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src=""
                                            style="zoom: 1.5;" alt=""></a></figure>
                                <div class="text">
                                    <p>Driving digital success through innovative solutions, AI-powered technology, and exceptional service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li> 9/16, near Kwality Sweets, Laxmi Nagar, Piplani, BHEL, Bhopal, Madhya Pradesh 462022 </li>
                                        <li><a href="tel:23055873407">+91-6263682856 </a></li>
                                        <li><a href="mailto:livinarttech.in">contact@livinarttech.  in</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="https://www.facebook.com/profile.php?id=100063919997639"><i class="fab fa-facebook-f"></i></a></li>
                                    <!-- <li><a href="/"><i class="fab fa-"></i></a></li> -->
                                    <li><a href="https://www.instagram.com/livinart.tech/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/livinart-technologies/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="/">Livinart Technologies</a> &copy;  2023 All Rights Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->



<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>


<!-- jequery plugins -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/scrollbar.js"></script>
<script src="/js/tilt.jquery.js"></script>
<script src="/js/jQuery.style.switcher.min.js"></script>


<!-- main-js -->
<script src="/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
